body{
    margin: 0;
}
.main{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}
.left_bar{
    background-color: #1D1C23;
    width: 40%;
    height: 100%;
    float:left;
    border-right: 1px solid black;
}
.note{
    width: 100%;
    height: 20%;
    border-bottom: 2px solid #2E2D34;
    border-right: 2px solid #2E2D34;
    box-sizing: border-box;
    padding:2%;
    padding-left: 5%;
    color: white;
    float:left;
    position: relative;
}
.headline{
    font-size:150%;
    position: absolute;
    top:15%
}
.time{
    font-size:100%;
    position: absolute;
    bottom:15%
}
.note_body{
    width: 100%;
    height: 100%;
    background-color: #282829;
}
.btn{
    background-color: #f08b00;
    width: 100%;
    height: 20%;
    float:left;
    font-size:150%;
    border-bottom: 2px solid #2E2D34;
    border-top: 0.5px solid #2E2D34;
    border-right: 2px solid #2E2D34;
    border-left: 0.5px solid #2E2D34;
    color: white
}
